@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"),
       url("../fonts/opensanslight.woff2") format("woff2"),
       url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  src: local("Open Sans Light"), local("OpenSans-Light"),
       url("../fonts/gilroyextrabold.woff2") format("woff2"),
       url("../fonts/gilroyextrabold.woff") format("woff");
}

body {
  min-width: 1440px;
  font-size: 15px;
  line-height: 2;
  letter-spacing: 0.01em;
  font-family: OpenSans, Arial, sans-serif;
  color: #464646;
  background-color: white;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

/* 1 Heder
   1.1. Сетка
*/

.header {
  margin: 0 auto;
  margin-top: 40px;
  width: 1160px;
  background-color: #f7e296;
}

.header__setting {
  margin-bottom: 20px;
}

.header__items {
  float: right;

}

.navigation__departments {
  margin-bottom: 20px;
  padding-bottom: 45px;
}

/*  1.2. Элементы

*/

.header__logo {
  margin-top: -20px;
  margin-left: 50px;
}

.header__search-form {
  float: left;
  min-height: 50px;
  margin-left: 50px;
}

.search-form__input {
  width: 440px;
  margin: 0;
  padding: 15px 10px;
  padding-left: 40px;
  font-size: 15px;
  font-family: OpenSans, Arial, sans-serif;
  color: black;
  opacity: 0.3;
  border: none;
  background: url("../img/search.png") no-repeat 0 17px;
  background-color: #f7e296;
}

.search-form__input:hover {
  opacity: 0.6;
}

.headerForm__button {
  opacity: 0;
}

.search-form__input:focus {
  outline: none;
}

.search-form__input:focus ~ .headerForm__button {
  opacity: 1;
}

.headerForm__button {
  position: relative;
  display: inline-block;
  padding: 15px 20px;
  font-size: 15px;
  letter-spacing: 0.01em;
  font-family: OpenSans, Arial, sans-serif;
  color: black;
  vertical-align: bottom;
  background-color: #f7e296;
  border: 2px solid black;
  cursor: pointer;
}

.headerForm__button::after {
  content: "";
  position: absolute;
  width: 445px;
  height: 2px;
  background-color: black;
  top: 47px;
  right: 85px;
}

.header__items a,
.footer__setting a {
  display: inline-block;
  margin-top: 10px;
  font-size: 15px;
  line-height: 36px;
  vertical-align: top;
  color: #464646;
  text-decoration: none;
}

.header__login,
.footer__login {
  float: left;
}

.header__login a {
  position: relative;
  margin-right: 180px;
  padding-left: 25px;
  padding-right: 25px;
}

.header__login a::before {
  content: "";
  width: 13px;
  height: 12px;
  position: absolute;
  top: 12px;
  left: 0px;
  background: url("../img/spriteUser.png") no-repeat;
}

.header__comparison,
.footer__comparison {
  float: left;
}

.header__comparison a {
  position: relative;
  padding-left: 25px;
  margin-right: 40px;
}

.header__comparison a::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 12px;
  left: 0px;
  background: url("../img/spriteCompare.png") no-repeat;
}

.header__basket,
.footer__basket {
  float: right;
}

.header__basket a {
  position: relative;
  padding-left: 25px;
  margin-right: 75px;
}

.header__basket a::before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 12px;
  left: 2px;
  background: url("../img/Spritecart.png") no-repeat;
}

.navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.navigation__list > li {
  position: relative;
  display: inline-block;
  font-size: 18px;
  line-height: auto;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-family: Gilroy, Arial, sans-serif;
  text-transform: uppercase;
  vertical-align: top;
}

.navigation__list li:hover {
  opacity: 0.6;
}

.navigation__list li:active {
  opacity: 0.3;
}

.navigation__catalog > a {
  position: relative;
  padding-right: 30px;
  margin-left: 30px;
}

.navigation__catalog::before,
.navigation__catalog::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 2px;
  background-color: black;
  opacity: 0.3;
  cursor: pointer;
}

.navigation__catalog::before:hover,
.navigation__catalog::after:hover {
  opacity: 0.1;
}

.navigation__catalog::before:active,
.navigation__catalog::after:active {
  opacity: 0.2;
}

.navigation__catalog::before {
  right: 0;
  top: 50%;
}

.navigation__catalog::after {
  right: 0;
  top: 50%;
  transform: rotate(90deg);
}

.navigation__list > li:nth-child(2) {
  margin-left: 290px;
}

.navigation__list > li:nth-child(3) {
  margin-left: 10px;
}

.navigation__list > li:last-child {
  margin-left: 80px;
}

.navigation__list a {
  display: block;
  padding-top: 5px;
  padding-left: 20px;
  color: black;
  text-decoration: none;
}

.navigation__list .navigation__goods {
  display: none;
  position: absolute;
  left: 30px;
  top: 50px;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #fcf8e3;
}

.navigation__list > li:hover .navigation__goods {
  display: block;
}

.navigation__goods {
  width: 600px;
  height: 80px;
  font-size: 15px;
  font-weight: 200;
  line-height: 36px;
  letter-spacing: 0.01em;
  font-family: OpenSans, Arial, sans-serif;
  color: black;
  text-transform: none;
}

.navigation__goods li {
  display: inline-block;
  font-size: 0;
}

.navigation__goods a {
  font-size: 15px;
  padding-right: 40px;
  padding-bottom: 0;
}

.navigation__goods li:nth-child(5) {
  margin-right: 100px;
}


/* 2 Slider
   2.1. Сетка
*/
.slider {
    position: relative;
    width: 1160px;
    margin: 0 auto;
}

/*  2.2. Элементы */

.slider input[type=radio] {
  display: none;
}

.slider__inner {
  width: 1160px;
  height: 520px;
  overflow: hidden;
}

.slider__slides img {
  margin-top: 20px;
  margin-left: 90px;
  width: 384px;
  height: 486px;
}

.slider__content {
  float: right;
  margin-top: 25px;
  width: 630px;
}

.slider__content h1 {
  margin: 0;
  padding: 0;
  font-size: 47px;
  line-height: normal;
  letter-spacing: 0.01em;
  font-family: Gilroy, Arial, sans-serif;
  color: black;
  margin-top: 30px;
  margin-left: 70px;
}

.slider__content p {
  margin: 0;
  padding: 0;
  max-width: 480px;
  margin-top: 20px;
  margin-left: 70px;
}

.slide__index {
  margin-top: 40px;
}

.slide__index a {
  float: left;
  padding: 5px 35px;
  padding-left: 40px;
  margin-left: 70px;
  font-size: 18px;
  line-height: auto;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-family: Gilroy, Arial, sans-serif;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
}

.slider__controls {
  display: inline-block;
  vertical-align: top;
}

.slider__controls label {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin: 15px 10px;
    cursor: pointer;
    border-radius: 50%;
    border: 3px solid #b2b2b2;
    background-color: white;
}

.more {
  max-width: 425px;
  margin-left: 70px;
  margin-top: 45px;
}

.more .more-item:first-child {
  float: left;
}

.more .more-item:nth-child(2) {
  float: left;
  margin-left: 70px;
}

.more .more-item:last-child {
  float: right;
}

.more p {
  margin: 0;
  padding: 0;
}

.more-value {
  font-family: Gilroy, Arial, sans-serif;
  font-size: 36px;
  line-height: normal;
  letter-spacing: 0.01em;
  color: black;
}

.more-parameter {
  line-height: 45px;
  font-size: 13px;
}

.slider__slides {
  width: 300%;
}

.slider__slides .slide1,
.slider__slides .slide2,
.slider__slides .slide3 {
    float: left;
    width: 1160px;
    height: 560px;
}

.slider__slides .slide2 {
  background-color: red;
}

.slider__slides .slide3 {
  background-color: blue;
}

#btn-1:checked ~ .slider__controls label[for="btn-1"],
#btn-2:checked ~ .slider__controls label[for="btn-2"],
#btn-3:checked ~ .slider__controls label[for="btn-3"] {
  border: 3px solid black;
}

#btn-1:checked ~ .slider__inner .slider__slides {
  transform: translate(0);
}

#btn-2:checked ~ .slider__inner .slider__slides {
  transform: translate(-1160px);
}

#btn-3:checked ~ .slider__inner .slider__slides {
  transform: translate(-2320px);
}

/* 2 Main
   2.1. Сетка
*/
.goods-navigation {
  margin-bottom: 130px;
}

.tab {
  position: relative;
}

.partners {
  width: 1160px;
  margin-top: 90px;
  margin-bottom: 20px;
  background-color: gray;
}

.index-content-main {
  width: 1160px;
}

/*  2.2. Элементы */

.card {
  float: left;
  position: relative;
  margin-right: 40px;
  width: 160px;
  height: 160px;
  background: #f7e296;
}

.card:last-child {
  margin-right: 0;
}


.card:first-child::before {
  content: "";
  width: 97px;
  height: 55px;
  position: absolute;
  top: 50px;
  left: 30px;
  background: url("../img/popular-1.png") no-repeat;
}

.card:nth-child(2)::before {
  content: "";
  width: 86px;
  height: 117px;
  position: absolute;
  top: 45px;
  left: 40px;
  background: url("../img/popular-2.png") no-repeat;
}

.card:nth-child(3)::before {
  content: "";
  width: 71px;
  height: 87px;
  position: absolute;
  top: 38px;
  left: 50px;
  background: url("../img/popular-3.png") no-repeat;
}

.card:nth-child(4)::before {
  content: "";
  width: 107px;
  height: 65px;
  position: absolute;
  top: 50px;
  left: 28px;
  background: url("../img/popular-4.png") no-repeat;
}

.card:nth-child(5)::before {
  content: "";
  width: 56px;
  height: 98px;
  position: absolute;
  top: 33px;
  left: 55px;
  background: url("../img/popular-5.png") no-repeat;
}

.card:last-child::before {
  content: "";
  width: 132px;
  height: 69px;
  position: absolute;
  top: 50px;
  left: 13px;
  background: url("../img/popular-6.png") no-repeat;
}

.goods-navigation__item {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-top: 190px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  font-family: Gilroy, Arial, sans-serif;
}

.tab__list {
  overflow: hidden;
  width: 1160px;
  height: 430px;
}

.tab__title{
        position: absolute;
        cursor: pointer;
        left: 0px;
        width: 285px;
        height: 40px;
}

.tab__title a {
  padding: 10px 20px;
  font-size: 18px;
  line-height: auto;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-family: Gilroy, Arial, sans-serif;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
}

.tab__title_title1 {
        top: 130px;
}

.tab__title_title2 {
        top: 195px;
        background-color: blue;
}

.tab__title_title3 {
        top: 260px;
        background-color: red;
}

.tab__content {
  position: relative;
  margin-left: auto;
  width: 875px;
  height: 430px;
  padding: 21px 0;
}

.tab__content_tab1::before {
  content: "";
  width: 136px;
  height: 164px;
  position: absolute;
  top: 125px;
  right: 63px;
  background: url("../img/delivery.png") no-repeat;
}

.tab__content_tab1 {

}

.tab__content_tab2 {
  background-color: blue;
}

.tab__content_tab3 {
  background-color: red;
}

.tab__content h2,
.about-us h2,
.contacts h2 {
  margin: 0;
  padding: 0;
  font-size: 47px;
  line-height: normal;
  letter-spacing: 0.01em;
  font-family: Gilroy, Arial, sans-serif;
  color: black;
  margin-top: 90px;
  margin-left: 120px;
}

.tab__content p {
  margin: 0;
  padding: 0;
  max-width: 430px;
  margin-top: 20px;
  margin-left: 120px;
}

.partners__item {
  float: left;
  margin-right: 40px;
}

.partners__item:last-child {
  margin-right: 0;
}


.about-us {
  float: left;
  width: 465px;
}

.about-us h2 {
  padding: 0;
  margin: 0;
  margin-top: 110px;
}

.about-us p {
  padding: 0;
  margin: 0;
  margin-top: 40px;
}

.about-us ul {
  margin-top: 65px;
}

.about-us li {
  margin: 5px 0;
  font-size: 15px;
  line-height: auto;
  font-weight: bold;
  letter-spacing: 0.01em;
  font-family: Gilroy, Arial, sans-serif;
}

.about-us a {
  display: inline-block;
  padding: 5px 0;
  margin-top: 50px;
  margin-left: 20px;
  font-size: 18px;
  line-height: auto;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-family: Gilroy, Arial, sans-serif;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
}

.contacts {
  float: right;
  width: 560px;
  min-height: 650px;
}

.btn {
  display: inline-block;
  padding: 5px 0;
  margin-top: 65px;
  margin-left: 20px;
  font-size: 18px;
  line-height: auto;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-family: Gilroy, Arial, sans-serif;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
}

.contacts h2 {
  padding: 0;
  margin: 0;
  margin-top: 110px;
}

.contacts p {
  padding: 0;
  margin: 0;
  margin-top: 40px;
}

.map {
  display: inline-block;
  margin-top: 35px;
}

/* 3 Footer
   3.1. Сетка
*/

.main-footer {
  width: 100%;
  margin-top: 65px;
  padding: 1px;
  background-color: #464646;
}

.index-content-footer {
}

.top {
  margin-top: 55px;
}

.footer__setting {
  float: right;
  width: 330px;
}

.footer-navigation {
  float: left;
  margin-left: 95px;
  width: 520px;
}

.bottom {
  margin-top: 37px;
  padding-bottom: 40px;
}

.social {
  float: left;
  max-width: 250px;
  margin-left: 500px;
}

.copyright {
float: right;
}

/*  2.2. Элементы */

.footer-logo {
  float: left;
  display: inline-block;
  margin-top: 10px;
}

.footer__setting a {
  color: white;
}

.footer__login a {
  position: relative;
  padding-left: 30px;
}

.footer__login a::before {
  content: "";
  width: 13px;
  height: 12px;
  position: absolute;
  top: 12px;
  left: 0px;
  background: url("../img/userFooter.png") no-repeat;
}

.footer__comparison a {
  position: relative;
  padding-left: 25px;
  margin-left: 40px;
}

.footer__comparison a::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 12px;
  left: 0px;
  background: url("../img/compareFooter.png") no-repeat;
}

.footer__basket a {
  position: relative;
  padding-left: 30px;
}

.footer__basket a::before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 12px;
  left: 2px;
  background: url("../img/cartFooter.png") no-repeat;
}

.footer-left {
  float: left;
  color: white;
}

.navigation__departments_footer li:first-child {
  margin-left: 0px;
}

.navigation__departments_footer li:nth-child(2) {
  margin-left: 0px;
}

.navigation__departments_footer li:last-child {
  margin-left: 0px;
}

.navigation__departments_footer a {
  color: white;
}

.footer-right {
  float: right;
  color: white;
}

.social__btn {
  display: inline-block;
  width: 39px;
  height: 38px;
  margin: 0 5px;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
}

.social__btn_fb {
  background: url("../img/facebook.png") no-repeat center;
}

.social__btn_inst {
  background: url("../img/insta.png") no-repeat center;
}

.social__btn_tw {
  background: url("../img/twitter.png") no-repeat center;
}

/* 4 Header_catalog
   4.2. Элементы
*/

.header__user {
  float: left;
}

.header__user a {
  margin-right: 60px;
}

.catalog a {
  margin-right: 10px;
  padding-right: 10px;
}

.main__title {
  margin-left: 55px;
  font-size: 47px;
  line-height: normal;
  color: black;
  font-weight: bold;
  font-family: Gilroy, Arial, sans-serif;
}

/* 5 Bresdcrumbs
   5.1. Сетка
*/

.breadcrumbs {
  display: inline-block;
  color: #464646;
  margin-top: -15px;
  margin-left: 50px;
  margin-bottom: 30px;
}

/*  5.2. Элементы */

.breadcrumbs a {
  position: relative;
  float: left;
  padding-right: 20px;
  padding-left: 10px;
  text-decoration: none;
  line-height: 36px;
  color: #464646;
  background-color: white;
}

.breadcrumbs a::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: white;
  z-index: 1;
  top: 14px;
  right: 0px;
  box-shadow: 1px 1px 0 1px black;
  border-radius: 50px 0 0 0;
  transform: rotate(-45deg) scale(0.5);
}

.breadcrumbs__active::after {
  display: none;
}

/* 6 Main-catalog
   6.1. Сетка
*/

.main-catalog {
  width: 100%;
  margin-bottom: 10px;
}

.filter {
  float: left;
  width: 33%;
}

.sorting {
  float: right;
  width: 67%;
  background-color: #ebebeb;
}

.goods {
  display: inline-block;
  margin-top: 70px;
  margin-left: 65px;
  max-width: 760px;
}

.goods-item {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 50px;
}

.goods-item:nth-child(2n) {
  margin-left: 30px;
}

.pagination {
  max-width: 760px;
  margin-top: -10px;
  background-color: #ebebeb;
}

/*  6.2. Элементы */

.filter__title,
.sorting__title {
  padding: 25px 0;
}

.filter__title {
  background-color: #dcdcdc;
}

.cost__controls {
  position: relative;
  width: 200px;
  margin-top: 30px;
  margin-bottom: 5px;

}

.cost__controls .cost__scale {
  width: 100%;
  height: 2px;
  background: #dbdbdb;
}

.cost__controls .cost__bar {
  width: 50%;
  height: 2px;
  background: #91c92f;
}

.cost__toggle {
  position: absolute;
  top: -7px;
  width: 10px;
  height: 10px;
  background: white;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.cost__toggle_min {
  left: 0;
}

.cost__toggle_max {
  left:50%;
}

.cost label{
  color: black;
  opacity: 0.2;
}

.cost__min input[type="text"],
.cost__max input[type="text"]{
  width: 50px;
  font-size: 14px;
  border: none;
}

.filter__form fieldset {
  position: relative;
  border: none;
}

.filter__form fieldset::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 2px;
  top: -16px;
  background-color: black
}

.form__cost {
  margin-bottom: 30px;
}

.color p,
.form__bluetooth p {
  line-height: 30px;
}

.color input[type="checkbox"],
.form__bluetooth input[type="radio"] {
  opacity: 0;
}

.color label,
.form__bluetooth label {
  position: relative;
  padding-top: 5px;
  padding-left: 15px;
  cursor: pointer;
}

.color label::before,
.form__bluetooth label::before {
  position: absolute;
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 23px;
  height: 23px;
  top: 3px;
  left: -25px;
  background-color: #dbdbdb;
}

.form__bluetooth label::before {
  border-radius: 50%;
  background-color: white;
  border: 2px solid #dbdbdb;
}

.color label::after {
  position: absolute;
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 9px;
  height: 6px;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  left: -20px;
  top: 7px;
  transform: rotate(-45deg);
}

.form__bluetooth label::after {
  position: absolute;
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 5px;
  height: 5px;
  border: 2px solid black;
  border-radius: 50%;
  left: -16px;
  top: 12px;
}

.color input[type="checkbox"] + label::after,
.form__bluetooth input[type="radio"] + label::after {
  content: none;
}

.color input[type="checkbox"]:checked + label::after,
.form__bluetooth input[type="radio"]:checked + label::after  {
  content: "";
}

.color {
  margin-bottom: 15px;
}

.sorting__title {
  display: inline-block;
  float: left;
}

.filter__title h2,
.sorting__title h2 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  font-family: Gilroy, Arial, sans-serif;
}

.filter__title h2 {
  margin-left: 200px;
}

.sorting__title h2 {
  margin-left: 65px;
}

.filter__form {
  float: right;
  width: 290px;
}

.filter__form legend{
  font-size: 18px;
  line-height: normal;
  letter-spacing: 0.01em;
  color: black;
  font-weight: bold;
  font-family: Gilroy, Arial, sans-serif;
}

.form__cost {
  margin-top: 85px;
}

.form__button {
  position: relative;
  display: inline-block;
  padding: 10px 35px;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: Gilroy, Arial, sans-serif;
  vertical-align: top;
  text-align: center;
  background-color: white;
  border: none;
  cursor: pointer;
  margin: 15px 10px;
}

.form__button::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 6px;
  background-color: #f0c52e;
  top: 18px;
  left: 0px;
  1z-index: -1;
}

.sorting__item {
  float: left;
}

.sorting__item ul {
  margin: 0;
  padding: 0;
  margin-left: 30px;
  list-style: none;
  font-size: 0;
}

.sorting__item li {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  vertical-align: top;
}

.sorting__item a {
  display: block;
  padding: 25px 15px;
  color: #464646;
  text-decoration: none;
}

.sorting__indicator {
  float: left;
  margin-left: 190px;
  margin-top: 30px;
}

.sorting__button {
  display: inline-block;
  width: 17px;
  height: 9px;
  margin: 0 13px;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
}

.sorting__button_up {
  background: url("../img/sort-up.png") no-repeat center;
}

.sorting__button_down {
  background: url("../img/sort-down.png") no-repeat center;
}

.goods__footer1 h3,
.goods__footer2 h3,
.goods__footer3 h3,
.goods__footer4 h3 {
  float: left;
  vertical-align: top;
  margin: 0;
  padding: 0;
  margin-top: 25px;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 0.01em;
  color: black;
  font-weight: bold;
  font-family: Gilroy, Arial, sans-serif;
}

.goods__footer1 h3{
  width: 260px;
}

.goods__footer2 h3{
  width: 180px;
}

.goods__footer4 h3{
  width: 235px;
}

.goods__footer1 p,
.goods__footer2 p,
.goods__footer3 p,
.goods__footer4 p {
  float: right;
  vertical-align: top;
  margin: 0;
  padding: 0;
  margin-top: 25px;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0.01em;
  color: #464646;
  font-weight: normal;
  font-family: Gilroy, Arial, sans-serif;
}

.pagination a {
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  line-height: normal;
  letter-spacing: 0.2em;
  color: #464646;
  font-weight: bold;
  font-family: Gilroy, Arial, sans-serif;
  min-width: 20px;
  padding: 25px 7px;
  text-align: center;
  text-decoration: none;
}

.pagination .pagination_prev {
  margin-right: 190px;
  padding: 25px 30px;
}

.pagination .pagination_next {
  margin-left: 170px;
  padding: 25px 30px;
}

.pagination .pagination_current {
  color: black;
}

.pagination .pagination_disabled {
  color: black;
}
