body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
  line-height: 2;
  color: #464646;
  font-weight: normal;
  font-family: OpenSans, Arial, sans-serif;
  background-color: white;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  width: 1220px;
  margin: 0 auto;
  height: 160px;
  margin-top: 40px;
  background-color: gray;
}

.catalog {
  min-height: 187px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  background-color: yellow;
}

.header-logo {
  margin-top: -30px;
  margin-left: 80px;
}

.index-content-header {
  margin-bottom: 20px;
  min-height: 50px;
  background-color: green;
}

.search-form {
  float: left;
  width: 185px;
  min-height: 50px;
  margin-left: 65px;
  background-color: white;
}

.header-identification {
  float: left;
  width: 100px;
  min-height: 50px;
  margin-left: 360px;
  background-color: white;
}

.user {
  width: 240px;
}

.header-setting {
  float: right;
  width: 310px;
  min-height: 50px;
  background-color: white;
}

.navigation {
  margin-bottom: 20px;
  min-height: 50px;
  background-color: green;
}

.slider {
    position: relative;
    width: 1155px;
    height: 560px;
    margin-left: 140px;
}

.slider input[type=radio] {
  display: none;
}

.slider__inner {
  min-width: 1150px;
  min-height: 560px;
  overflow: hidden;
}

.slider__slides {
  width: 300%;
}

.slider__slides .slide1,
.slider__slides .slide2,
.slider__slides .slide3 {
    float: left;
    width: 1150px;
    height: 560px;
}

.slider__slides .slide1 {
  background-color: green;
}

.slider__slides img {
  margin-left: 90px;
  width: 384px;
  height: 486px;
}

.slider__content {
  float: right;
  width: 630px;
  background-color: gray;
}

.slider__content h1 {
  margin-left: 50px;
}

.slider__content p {
  font-size: 15px;
  line-height: 2;
  margin-left: 50px;
}

.more {
  background-color: blue;
}

.more .more-item:first-child {
  float: left;
}

.more .more-item:nth-child(2) {
  float: left;
  margin-left: 100px;
}

.more .more-item:last-child {
  float: right;
  margin-right: 50px;
}

.slider__slides .slide2 {
  background-color: red;
}

.slider__slides .slide3 {
  background-color: blue;
}

.slide__index {
  margin-top: 40px;
  background-color: yellow;
}

.slide__index a {
  float: left;
  margin-left: 50px;
}

.slider__controls {
    float: right;
    margin-right: 80px;
    text-align: center;
}

.slider__controls label {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 3px;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    border: 4px solid white;
    background-color: #cccccc;
}

#btn-1:checked ~ .slider__controls label[for="btn-1"] {
  background-color: #666666;
}

#btn-2:checked ~ .slider__controls label[for="btn-2"] {
  background-color: #666666;
}

#btn-3:checked ~ .slider__controls label[for="btn-3"] {
  background-color: #666666;
}

#btn-1:checked ~ .slider__inner .slider__slides {
  transform: translate(0);
}

#btn-2:checked ~ .slider__inner .slider__slides {
  transform: translate(-1150px);
}

#btn-3:checked ~ .slider__inner .slider__slides {
  transform: translate(-2300px);
}

.goods-navigation {
  height: 300px;
  margin-bottom: 20px;
  background-color: gray;
}

.advantages {
  position: relative;
  width: 1200px;
  height: 430px;
  background-color: green;
}


.tab__list {
  overflow: hidden;
  width: 1200px;
  height: 430px;
}

.tab__title{
        position: absolute;
        cursor: pointer;
        left: 20px;
        width: 290px;
        height: 40px;
        text-align: center;
}

.title1{
        top: 130px;
        background-color: yellow;
}

.title2{
        top: 195px;
        background-color: blue;
}

.title3{
        top: 260px;
        background-color: red;
}

.tab__content {
  margin-left: auto;
  width: 890px;
  height: 430px;
  padding: 21px 0;

}

.tab__content_tab1 {
  background-color: yellow;
}

.tab__content_tab2 {
  background-color: blue;
}

.tab__content_tab3 {
  background-color: red;
}


.partners {
  width: 1200px;
  height: 220px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: red;
}

.index-content-main {
  width: 1200px;
  min-height: 660px;
  background-color: green;
}

.about-us {
  float: left;
  width: 500px;
  min-height: 650px;
  background-color: gray;
}

.contacts {
  float: right;
  width: 600px;
  min-height: 650px;
  background-color: gray;
}

.main-footer {
  width: 100%;
  min-height: 325px;
  margin-top: 20px;
  padding: 1px;
  background-color: red;
}

.index-content-footer {

  min-height: 55px;
  background-color: green;
}

.top {
  margin-top: 55px;
}

.middle {
  margin-top: 10px;
}

.bottom {
  margin-top: 37px;
}

.footer-logo {
  float: left;
  width: 200px;
  min-height: 55px;
  background-color: white;
}

.footer-identificanion {
  float: left;
  margin-left: 645px;
  width: 100px;
  min-height: 55px;
  background-color: white;
}

.footer-setting {
  float: right;
  width: 250px;
  min-height: 55px;
  background-color: white;
}

.footer-left {
  float: left;
  width: 250px;
  background-color: white;
}

.footer-navigation {
  float: left;
  margin-left: 95px;
  width: 520px;
  min-height: 55px;
  background-color: white;
}

.footer-right {
  float: right;
  width: 220px;
  background-color: white;
}

.social {
  float: left;
  width: 250px;
  margin-left: 475px;
  min-height: 55px;
  background-color: white;
}

.copyright {
float: right;
width: 70px;
min-height: 55px;
background-color: white;
}

.breadcrumbs {
  margin-top: -15px;
  margin-bottom: 40px;
  min-height: 30px;
  background-color: red;
}

.main-catalog {
  width: 100%;
  min-height: 1250px;
  background-color: gray;
}

.filter {
  float: left;
  width: 470px;
  min-height: 1265px;
  background-color: yellow;
}

.sorting {
  float: right;
  width: 925px;
  min-height: 75px;
  background-color: red;
}

.goods {
  display: inline-block;
  margin-left: 45px;
  margin-top: 45px;
  width: 810px;
  min-height: 1145px;
  background-color: green;
}

.goods-item {
  display: inline-block;
  margin: 20px;
  width: 360px;
  min-height: 460px;
  background-color: yellow;
}

.goods-item:nth-child(2n) {
  margin-right: 0;
}

.pagination {
  width: 765px;
  height: 70px;
  margin-top: 25px;
  margin-left: 25px;
  background-color: orange;
}

.pagination a {
  display: inline-block;
  height: 40px;
  min-width: 20px;
  padding: 0 8px;
  background-color: gray;
  vertical-align: middle;
  text-align: center;
  line-height: 40px;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.pagination .pagination_prev {
  margin-right: 190px;
  padding: 15px 40px;
}

.pagination .pagination_next {
  margin-left: 190px;
  padding: 15px 40px;
}

.pagination .pagination_current {
  background-color: #16a085;
}

.pagination .pagination_disabled {
  opacity: 0.3;
}

h1, h2 {
  font-size: 47px;
  line-height: normal;
  color: black;
  font-weight: bold;
  font-family: "Gilroy", "Arial", sans-serif;
}

h3,
figcaption {
  font-size: 18px;
  line-height: normal;
  color: black;
  font-weight: bold;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.01em;
}

.font {
  font-size: 16px;
  letter-spacing: 0.2em;
}

span {
  font-size: 16px
  color: #464646;
  font-weight: normal;
}
